/* Created by ֎₳¥Ʉ$Ħ֎ */

body {
    font-size: 15pt;
    overflow:hidden;
    position:fixed;
    background-color:#d1d9eb;
}
#load{
    height:100vh;
    width:100vw;
    background-color:#000000;
    z-index:600;
    position:absolute ;
}
#loading{
    position:relative ;
    text-align:center ;
    top:50%;
    color:#ffffff;
    animation:load 5s linear infinite ;
}
@keyframes load{
    100%{
        transform:rotate(360deg);
    }
}
*{
  margin: 0;
  user-select:none;
  padding: 0;
  outline:none;
}

.fa-fill{
  position: absolute;
  z-index: 190;
  color: blueviolet;
  font-size: 4vh;
  left:0;
  right:0;
  top: 20%;
  bottom: 80%;
  margin: auto;
}
.fa-eraser{
  position: absolute;
  z-index: 190;
  color: #03FFF9;
  font-size: 4vh;
  left: 0;
  right: 0;
  top: 20%;
  bottom: 80%;
  margin: auto;
}
#canvas{
    position:absolute;
    z-index:1;
    left:5vw;
    box-shadow: 1vh 1vh 2vh -0.5vh rgba(0, 0, 0, 0.15),
    -0.5vh -0.5vh 2vh -0.5vh rgba(255, 255, 255, 0.7);
    top: 15vh;
    border-radius: 1vh;
}
input[type="color"]{
  border: none;
}
#whole{
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  overflow: hidden;
}
#sar{
    position:absolute;
    background-color:#d1d9eb;
    height:10vh;
    width:94vw;
    z-index:100;
    border-radius:3vw;
    box-shadow: 1vh 1vh 2vh -0.5vh rgba(0, 0, 0, 0.15),
    -0.5vh -0.5vh 2vh -0.5vh rgba(255, 255, 255, 0.7);
    left: 3vw;
    right: 3vw;
    top: 1vh;
}
#inf{
  z-index: 500;
  position: absolute;
  background: linear-gradient(#EE11EC, #1964DC);
  height: 50vh;
  width: 70vw;
  top: 25vh;
  bottom: 25vh;
  left: 15vw;
  border-radius: 82% 18% 86% 14% / 7% 80% 20% 93%;
  right: 15vw;
  overflow: hidden;
  transition: 1s;
  transform: scale(0);
}
.fa-close{
  top: 5%;
  right: 20%;
  position: absolute;
  font-size: 3vh;
}
#logo{
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 12vh;
  width: 12vh;
  background: url("https://wallpaperaccess.com/full/4595681.png");
  border-radius: 50%;
  top: 15%;
  background-size: 100% 100%;
}
#by{
  font-size: 3vh;
  position: relative;
  text-align: center;
  font-weight: 900;
  top: 40%;
}
#helped{
  font-size: 1.5vh;
  position: relative;
  text-align: center;
  width: 100%;
  height: 10%;
  font-family: serif;
  top: 80%;
  transform: rotate(-5deg);
  transition: 1s;
}
#helped:hover{
  background-color: #13A7EF;
}
#sugges{
  height: 25%;
  width: 75%;
  background: #FFFFFF5C;
  backdrop-filter: blur(1vh);
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 7% 93% 28% 72% / 68% 29% 71% 32%;
  transition: 1s;
}
#sugges:hover{
  box-shadow: 0vh 0vh 2vh #00000087;
}
#s{
  font-size: 1.4vh;
  text-align: center;
  font-family: serif;
  position: relative;
  top: 20%;
}
#cl{
    background:transparent;
    height:80%;
    position:absolute;
    top:0;
    bottom: 0;
    margin: auto;
    width: 11%;
    left: 3vw;
    border-radius: 10vw;
    box-shadow: 1vh 1vh 2vh -0.5vh rgba(0, 0, 0, 0.15),
    -0.5vh -0.5vh 2vh -0.5vh rgba(255, 255, 255, 0.7);
}
input[type="color"]::-webkit-color-swatch{
  border-radius: 10vw;
  height: 99%;
  border: none;
}
input[type="color"]::-moz-color-swatch {
  border-radius: 10vw;
  height: 99%;
  border: none;
}
input{
    z-index:100;
}
#ran{
    position:absolute;
    left:36vw;
    height: 2vh;
    appearance:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    top:0;
    bottom: 0;
    margin: auto;
    background-color: #d1d9eb;
    box-shadow: 0.6vh 0.6vh 2vh -0.5vh rgba(0, 0, 0, 0.15),
    -0.6vh -0.6vh 2vh -0.5vh rgba(255, 255, 255, 0.7),
    inset 0.6vh 0.6vh 2vh -0.5vh rgba(0, 0, 0, 0.15),
   inset -0.6vh -0.6vh 2vh -0.5vh rgba(255, 255, 255, 0.7);
    width: 25vw;
}
::-webkit-slider-thumb{
 -webkit-appearance: none;
  appearance: none;
  width: 3vh;
  height: 3vh;
  border-radius:1vw;
  background: lightblue;
  cursor: pointer;
 box-shadow: inset 0.3vh 0.3vh 2vh -0.5vh rgba(0, 0, 0, 0.15),
  inset -0.3vh -0.3vh 2vh -0.5vh rgba(255, 255, 255, 0.6);
}
::-moz-range-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 3vh;
  height: 3vh;
  border-radius: 1vw;
  background: lightblue;
  cursor: pointer;
  box-shadow: inset 0.3vh 0.3vh 2vh -0.5vh rgba(0, 0, 0, 0.15),
    inset -0.3vh -0.3vh 2vh -0.5vh rgba(255, 255, 255, 0.6);
}
#clo{
    position:absolute;
    right:6vw;
    top:1vh;
    border-radius: 10vw;
    background: transparent;
    box-shadow: 1vh 1vh 2vh -0.5vh rgba(0, 0, 0, 0.15),
    -0.5vh -0.5vh 2vh -0.5vh rgba(255, 255, 255, 0.7);
    height:80%;
    width:11%;
}
#clrbtn{
    position:absolute;
    height:7vh;
    top:1.5vh;
    left: 15vw;
    border-radius: 10vw;
    font-size: 2vw;
    border-style: none;
    outline: none;
    background-color: #d1d9eb;
    border: none;
    box-shadow: 1vh 1vh 2vh -0.5vh rgba(0, 0, 0, 0.15),
    -0.5vh -0.5vh 2vh -0.5vh rgba(255, 255, 255, 0.7);
    width: 7vw;
}
#fill{
  height: 7vh;
  width: 9vw;
  position: absolute;
  left: 66vw;
  top: 0;
  bottom: 0;
  background-color: #d1d9eb;
  outline: none;
  border-style: none;
  border-radius: 100%;
  margin: auto;
  box-shadow: 1vh 1vh 2vh -0.5vh rgba(0, 0, 0, 0.15),
     -0.5vh -0.5vh 2vh -0.5vh rgba(255, 255, 255, 0.7);
}
#erase{
  height: 7vh;
  width: 9vw;
  position: absolute;
  left: 25vw;
  top: 0;
  bottom: 0;
  background-color: #d1d9eb;
  outline: none;
  border-style: none;
  border-radius: 100%;
  margin: auto;
  box-shadow: 1vh 1vh 2vh -0.5vh rgba(0, 0, 0, 0.15),
    -0.5vh -0.5vh 2vh -0.5vh rgba(255, 255, 255, 0.7);
}
#brush{
  height: 7vh;
  width: 9vw;
  position: absolute;
  left:9vw;
  top: 0;
  bottom: 0;
  background-color: #d1d9eb;
  outline: none;
  border-style: none;
  border-radius: 100%;
  margin: auto;
  box-shadow: 1vh 1vh 2vh -0.5vh rgba(0, 0, 0, 0.15),
    -0.5vh -0.5vh 2vh -0.5vh rgba(255, 255, 255, 0.7);
}
#clrbtn:active{
  background-color: yellow;
}
.fa-paint-brush{
  position: absolute;
  z-index: 190;
  font-size: 4vh;
  left: 0;
  right: 0;
  color: #8213EF;
  top: 20%;
  bottom: 80%;
  margin: auto;
}
#about{
  position: absolute;
  height: 7vh;
  top: 1.5vh;
  left: 20vw;
  border-radius: 10vw;
  font-size: 2vw;
  border-style: none;
  outline: none;
  background-color: #d1d9eb;
  border: none;
  z-index: 100;
  box-shadow: 1vh 1vh 2vh -0.5vh rgba(0, 0, 0, 0.15),
    -0.5vh -0.5vh 2vh -0.5vh rgba(255, 255, 255, 0.7);
  width: 7vw;
}
.fa-info{
  position: absolute;
  z-index: 190;
  color: black;
  font-size: 4vh;
  left: 0;
  right: 0;
  top: 20%;
  bottom: 80%;
  margin: auto;
}
.fa-angle-left{
  position: absolute;
  z-index: 190;
  color: #FF22F0;
  font-size: 4vh;
  left: 1.2vw;
  top: 4vh;
  bottom: 80%;
  margin: auto;
}
.fa-angle-right{
  position: absolute;
  z-index: 190;
  color: #FF22F0;
  font-size: 4vh;
  right:1.2vw;
  top: 4vh;
  bottom: 80%;
  margin: auto;
}
#sar2{
  position: absolute;
  background-color: #d1d9eb;
  height: 10vh;
  width: 94vw;
  z-index: 100;
  border-radius: 3vw;
  box-shadow: 1vh 1vh 2vh -0.5vh rgba(0, 0, 0, 0.15),
    -0.5vh -0.5vh 2vh -0.5vh rgba(255, 255, 255, 0.7);
  left: 3vw;
  right: 3vw;
  top: 1vh;
  display: none;
}